BODY {
	COLOR: black; FONT-FAMILY: times, serif; BACKGROUND-COLOR: white
}

#container {
}

#container a {
  COLOR: #00a; TEXT-DECORATION: none
}

#container h1 {
  FONT-SIZE: 150%
}

#container h2 {
  FONT-SIZE: 130%
}

#container h3 {
  FONT-SIZE: 110%
}

#container a:hover {
  COLOR: white; BACKGROUND-COLOR: #00a
}  

#header {
}

#header h1 {
  TEXT-ALIGN: center
}

#article {
  MARGIN: 10px 40px 10px 40px
}

#nav {
  clear: both; BORDER-BOTTOM: black 1px solid; BORDER-TOP: black 1px solid;
  TEXT-ALIGN: center; PADDING-TOP: 2px; PADDING-BOTTOM: 2px
}

#nav a {
  MARGIN-RIGHT: 5px; MARGIN-LEFT: 5px
}

#nav {
  BORDER-BOTTOM: black 1px solid;
  TEXT-ALIGN: center; FONT-SIZE: 90%; PADDING-TOP: 2px; PADDING-BOTTOM: 2px
}

#nav a {
  MARGIN-RIGHT: 5px; MARGIN-LEFT: 5px
}


#footer {
  BORDER-BOTTOM: black 1px solid; BORDER-TOP: black 1px solid;
  TEXT-ALIGN: center; FONT-SIZE: 90%
}

// tables: classes and download
.modheadtxt {
	FONT-SIZE: 110%;
}
.modsubtxt {
	BORDER-BOTTOM: black 1px solid
}

.modbox {
  BORDER-TOP: black 1px solid; BORDER-BOTTOM: black 1px solid;
  MARGIN-TOP: 25px; MARGIN-BOTTOM: 15px;
  MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}

.moditemtxt {
}

.downbox {
	BORDER-TOP: black 1px solid; BORDER-BOTTOM: black 1px solid;
  MARGIN-TOP: 25px; MARGIN-BOTTOM: 15px
}
.downheadtxt {
	FONT-SIZE: 110%;
}
.downsubtxt {
	BORDER-BOTTOM: black 1px solid
}
.downitemtxt {
}


